[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ben-maclaurin/hugo-theme-even.git
